# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/.vs/ProcessScheduler/v17
/x64/Debug
/.gitignore
/ProcessScheduler/x64/Debug/vc143.idb
/ProcessScheduler/x64/Debug/vc143.pdb
/ProcessScheduler/x64/Debug/ProcessScheduler.ilk
/ProcessScheduler/x64/Debug/ProcessScheduler.log
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.write.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.read.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.command.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.write.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.command.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.read.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.command.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.write.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/CL.read.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.read.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.ilk
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.write.1.tlog
/ProcessScheduler/x64/Debug/vc143.idb
/ProcessScheduler/x64/Debug/vc143.pdb
/ProcessScheduler/x64/Debug/ProcessScheduler.log
/ProcessScheduler/x64/Debug/fcfs_processor.obj.enc
/ProcessScheduler/x64/Debug/ProcessScheduler.Build.CppClean.log
/ProcessScheduler/x64/Debug/scheduler.obj.enc
/ProcessScheduler/x64/Debug/main.obj.enc
/ProcessScheduler/x64/Debug/ui.obj.enc
/ProcessScheduler/x64/Debug/fcfs_processor.obj.enc
/ProcessScheduler/x64/Debug/main.obj.enc
/ProcessScheduler/x64/Debug/ProcessScheduler.Build.CppClean.log
/ProcessScheduler/x64/Debug/scheduler.obj.enc
/ProcessScheduler/x64/Debug/ui.obj.enc
/ProcessScheduler/x64/Debug/main.obj.enc
/ProcessScheduler/x64/Debug/ProcessScheduler.Build.CppClean.log
/ProcessScheduler/x64/Debug/fcfs_processor.obj.enc
/ProcessScheduler/x64/Debug/main.obj.enc
/ProcessScheduler/x64/Debug/ProcessScheduler.Build.CppClean.log
/ProcessScheduler/x64/Debug/scheduler.obj.enc
/ProcessScheduler/x64/Debug/ui.obj.enc
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.command.1.tlog
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/ProcessScheduler.lastbuildstate
/ProcessScheduler/x64/Debug/ProcessScheduler.exe.recipe
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/ProcessScheduler.lastbuildstate~Schedule Algorithm for RR processor
/ProcessScheduler/x64/Debug/ProcessScheduler.tlog/link.command.1.tlog~Schedule Algorithm for RR processor
/ProcessScheduler/x64/Debug/ProcessScheduler.exe.recipe~Schedule Algorithm for RR processor
